<!DOCTYPE html>
<html>
  <title>{{siteTitle}}</title>
  <link rel="canonical" href="http://{{domain}}/" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="google-site-verification" content="" />
  <meta property="og:title" content="{{siteTitle}}" />
  <meta property="og:url" content="{{domain}}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="http:{{TVP_CDN_TVSITE}}/src/img/landing.jpg" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="{{siteTitle}}" />
  <meta property="twitter:description" content="" />
  <meta property="twitter:url" content="http://{{domain}}" />
  <meta property="twitter:image" content="http:{{TVP_CDN_TVSITE}}/src/img/landing.jpg" />
  <link rel="stylesheet" href="{{TVP_CDN_TVSITE}}/dist/tvpage-css.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
  <link rel="stylesheet" href="{{TVP_CDN_TVSITE}}/demo/theme.css">
  <body class="default"> {{ tvsite_cartridge_idstring("config") }} {{ tvsite_cartridge_idstring("player") }} {{ tvsite_cartridge_idstring("breadcrumb") }} {{ tvsite_cartridge_idstring("channel-slider") }} {{ tvsite_cartridge_idstring("video-grid") }} {{ tvsite_cartridge_idstring("video-slider")
    }} </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//dev1.tvpage.com/tvsite/tvpage/tvpage-js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
  <script src="{{TVP_CDN_TVSITE}}/demo/home.js"></script>
</html>