<!DOCTYPE html><html><title>{{activeChannelData.video.title|trim|escape}}</title><link rel="canonical" href="http://{{domain}}/{{ activeChannelData.channel.titleTextEncoded|trim|replace({'_': '-'}) }}/{{ activeChannelData.video.titleTextEncoded|trim|replace({'_': '-'}) }}/{{activeChannelData.channel.id}}-{{activeChannelData.playlist.id}}-{{activeChannelData.video.id}}">{{tvsite_meta_active_video()}}<body class="default"><h1>Playback</h1></body><script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><script src="//dev1.tvpage.com/tvsite/tvpage/tvpage-js"></script><script src="{{TVP_CDN_TVSITE}}/assets/js/playback.js"></script></html>