<!DOCTYPE html>
<html>
  <title>{{siteTitle}}</title>
  <link rel="canonical" href="http://{{domain}}/" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="google-site-verification" content="" />
  <meta property="og:title" content="{{siteTitle}}" />
  <meta property="og:url" content="{{domain}}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="http:{{TVP_CDN_TVSITE}}/src/img/landing.jpg" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="{{siteTitle}}" />
  <meta property="twitter:description" content="" />
  <meta property="twitter:url" content="http://{{domain}}" />
  <meta property="twitter:image" content="http:{{TVP_CDN_TVSITE}}/src/img/landing.jpg" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <body class="default">
    <div class="container">
      <h1>Heading</h1>
      <h2>Heading</h2>
      <h3>Heading</h3>
      <h4>Heading</h4>
      <h5>Heading</h5>
      <h6>Heading</h6>
      <p>Paragraph</p> <a>Anchor</a><br> <em>Emphasis</em><br> <small>Small</small><br> <strong>Strong</strong><br> <u>Underline</u> </div>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//dev1.tvpage.com/tvsite/tvpage/tvpage-js"></script>
</html>