<% if ('undefined' !== typeof data) { %>

  <%= renderCheck(data) %>

  <script>
    TVSite = window.TVSite || {};
    <% _.each(data, function(dataCode,dataIndex) { %>
      <% if ( 'undefined' !== typeof asString && asString ) { %>
        /* beautify ignore:start */
        TVSite[ '<%= dataIndex %>' ] = '{{<%= dataCode %>}}';
        /* beautify ignore:end */
      <% } else { %>
        /* beautify ignore:start */
        TVSite[ '<%= dataIndex %>' ] = {{<%= dataCode %>|json_encode()}};
        /* beautify ignore:end */
      <% } %>
    <% }); %>
  </script>
{% endif %}
<% } %>