<% if ( header !== 'undefined' && header ) { %>
	<h1><%= header %></h1>
<% } %>

{% if <%= collCode %>|length %}
	<div class="row">
		<% var hasRows = rows !== 'undefined' && rows; %>
		<% var raw = hasRows ? (collCode + '|batch(DATA.perRow is defined ? DATA.perRow : 4,"None")') : collCode; %>

		{% for item in <%= raw %> %}
			
			<% if (hasRows) { %>
				
				{% for rowItem in item %}
					{% if rowItem.id %}
						<div id="item-{{rowItem.id}}" class="column <%= itemClass %>">
							<%= item %>
						</div>
					{% endif %}
				{% endfor %}

			<% } else { %>
				
				{% if item.id %}
					<div id="item-{{item.id}}" class="column <%= itemClass %>">
						<%= item %>
					</div>
				{% endif %}

			<% } %>

		{% else %}
			no items to display
		{% endfor %}
	</div>

{% endif %}