<% var link = ''; %>
<% var src = ''; %>
<% if ('undefined' !== entity && 'video' === entity) { %>
	<% link = 'tvsite_canonical_url(channel, channel.playlist, item)'; %>
	<% src = 'item.asset.thumbnailUrl'; %>
<% } else if ('undefined' !== entity && 'product' === entity) { %>
	<% link = 'item.linkUrl'; %>
	<% src = 'item.imageUrl'; %>
<% } else if ('undefined' !== entity && 'channel' === entity) { %>
	<% link = 'tvsite_canonical_url(item.channelId, item.channelId.playlist, null)'; %>
	<% src = 'item.channelImage'; %>
<% } %>

{% if ( '' != <%= src %> and '' != <%= link %> ) %}
	<a href="{{<%= link %>}}" class="thumbnail">
		<img src="{{ <%= src %> }}" alt="{{item.title}}">
	</a>
{% endif %}