{% if <%= collCode %>|length %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  
  <ol class="carousel-indicators">
  {% for indicator in 0..3 %}
    <li data-target="#carousel-example-generic" data-slide-to="{{loop.index}}" class="{% if loop.first %}active{% endif %}"></li>
  {% endfor %}
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://lorempixel.com/400/200/food/" alt="Soemthing here">
      <div class="carousel-caption">
      	Something here
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  
</div>
{% endif %}