head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(charset="UTF-8")
  title TVSite | video sells
  link(rel='stylesheet' href='style/tvpage.css')
  link(rel='stylesheet' href='{{TVP_CDN_TVSITE}}/demo/theme.css')