<section id="breadcrumbs-cartridge"><div class="breadcrumbs container"><div class="inline" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
	<a href="/" itemprop="url">
		<span itemprop="title">Home</span>
	</a>
</div>
{% for item in channels %}
	<span>//</span>
	<div id="{{loop}}" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
		<a class="{% if loop.last %}active{% endif %}" href="" itemprop="url">
			<span itemprop="title">{{item.title|trim}}</span>
		</a>
	</div>		
{% endfor %}</div/></section>