<section id="channel-slider-cartridge">
  <div class="slider container">
    <h1>Channels Slider</h1> {% if LIST|length %}
    <div class="row"> {% for item in LIST %} {% if item.id %}
      <div id="item-{{item.id}}" class="column "> {% if ( '' != item.channelImage and '' != tvsite_canonical_url(item.channelId, item.channelId.playlist, null) ) %}
        <a href="{{tvsite_canonical_url(item.channelId, item.channelId.playlist, null)}}" class="thumbnail"> <img src="{{ item.channelImage }}" alt="{{item.title}}"> </a> {% endif %}
        <p>{{item.channelId.title|slice(0, DATA.titleLength is defined ? DATA.titleLength : 40)}}</p>
      </div> {% endif %} {% else %} no items to display {% endfor %} </div> {% endif %}
    </div/>
</section>