{% if (loginId is defined and loginId and domain is defined and domain) %}
<script>
  TVSite = window.TVSite || {};
  /* beautify ignore:start */
        TVSite[ 'lid' ] = '{{loginId}}';
        /* beautify ignore:end */
  /* beautify ignore:start */
        TVSite[ 'domain' ] = '{{domain}}';
        /* beautify ignore:end */
</script> {% endif %}