


	
	
		  
	
{% if ( loginId and domain ) %}


<script>
  TVSite = window.TVSite || {};
  
  	
  		TVSite[ 'loginId' ] = {{loginId}};
  	
  		TVSite[ 'domain' ] = {{domain}};
  	
  
</script>


{% endif %}
