 {% if (LIST is defined and LIST) %}
<ul class="dropdown"> {% for item in LIST %}{% if (item is defined and item and item.channelId is defined and item.channelId) %} {% endif %} {% endfor %} </ul> {% endif %}