<div class="gallery-search-bar"><div class="container">
	<div class="row">
		<div class="column">
			<label for="search">Search by text</label>
			<input type="text" placeholder="Search some" id="search">
		</div>
		{% for item in DATA.filters|split(',') %}
			<div class="column">
				<label for="{{item}}">Choose by {{item|replace({'video-':''})|replace({'-':' '})}}</label>
				<select id="{{item}}" name="select">
					{% for itemChildren in ['Option A', 'Option B','Option C','Option D'] %}
						<option value="1">{{itemChildren}}</option>
					{% endfor %}
				</select>
			</div>	
		{% endfor %}
	</div>
</div></div/><div class="gallery-grid">{% if channel.videos|length %}
	<div class="container">
		{% for row in channel.videos|batch( DATA.perRow is defined ? DATA.perRow : 4, "None") %}
			<div class="row">
				{% for item in row %}
					{% if item.id %}
						<div class="column">
							<div class="thumbnail"><a href="#" class="thumbnail">
	<img src="{{item.asset.thumbnailUrl}}" alt="{{item.title}}">
</a></div/><p>{{item.title|slice(0, 40)}}</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% else %}
			no videos
		{% endfor %}
	</div>
{% endif %}</div/><div class="gallery-pagination"><ul class="pagination">
  <li>
    <a href="#" class="pagination-arrow">
      <span>&laquo;</span>
    </a>
  </li>
  {% for item in 0..5 %}
    <li><a href="#">{{item}}</a></li>
  {% endfor %}
  <li>
    <a href="#" class="pagination-arrow">
      <span>&raquo;</span>
    </a>
  </li>
</ul></div/>