<section id="video-slider-cartridge">
  <div class="slick-slider-base container">{% if channel.videos|length %}
    <h1>Videos Slider</h1>
    <div class="row slider"> {% for item in channel.videos %} {% if item.id %}
      <div id="item-{{item.id}}" class="column play"> {% if ( '' != item.asset.thumbnailUrl and '' != tvsite_canonical_url(channel, channel.playlist, item) ) %}
        <a href="{{tvsite_canonical_url(channel, channel.playlist, item)}}" class="thumbnail"> <img src="{{ item.asset.thumbnailUrl }}" alt="{{item.title}}"> </a> {% endif %}
        <p>{{item.title|slice(0, DATA.titleLength is defined ? DATA.titleLength : 40)}}</p>
      </div> {% endif %} {% else %} no items to display {% endfor %} </div> {% endif %}
    </div/>{% if (channel is defined and channel and channel.videos is defined and channel.videos) %}
    <script>
      TVSite = window.TVSite || {};
      /* beautify ignore:start */
        TVSite[ 'playList' ] = {{channel.videos|json_encode()}};
        /* beautify ignore:end */
    </script> {% endif %}</section>