<% var hasChecks = ('undefined' !== typeof bsChecks); %>

<% if (hasChecks) { %>
	<% var check = ''; %>
	<% for (var i = 0; i < bsChecks.length; i++) { %>
		  <% check += bsChecks[i]; %>
	<% } %>
{% if ( <%= check %> ) %}
<% } %>

<script>
  TVSite = window.TVSite || {};
  <% if ('object' === typeof bs) { %>
  	<% for ( var bsItem in bs ) { %>
      <% if ( 'undefined' !== typeof asString && asString ) { %>
        TVSite[ '<%= bsItem %>' ] = '<%= bs[ bsItem ] %>';
      <% } else { %>
        TVSite[ '<%= bsItem %>' ] = <%= bs[ bsItem ] %>;
      <% } %>
  	<% } %>
  <% } %>
</script>

<% if (hasChecks) { %>
{% endif %}
<% } %>