doctype html
html(lang="en" dir="ltr")
  block title
    <title>{{siteTitle ~ " | " ~ pageTitle}}</title>
  block canonical
    <link rel="canonical" href="http://{{domain}}/"/>
  block meta
    include partials/meta.jade

  body
    block content
    block footer
      include partials/footer.jade