extends base.jade
block title
  <title>{{activeChannelData.channel.title|trim|escape}}</title>
block canonical
  <link rel="canonical" href="https://{{domain}}/c/{{ activeChannelData.channel.titleTextEncoded|trim|replace({'_': '-'}) }}/{{activeChannelData.channel.id}}--">
block meta
  | {{tvsite_meta_active_video()}}

block content
  p Channel page