body {
	background-color: black;
	color: white;
}

.slick-arrow {
	width: 40px;
	height: 40px;
	top: 40%;
}

.slick-arrow:before {
	font-size: 45px;
}

.slick-prev {
	left: -50px;
}

.slick-next {
	right: -50px;
}

.modal-content {
	max-width: 500px;
}

.modal-content .thumbnail {
	max-width: 50px;
}