// Using both https://github.com/JohnAlbin/normalize-scss &&  https://milligram.github.io (very light)
// as a base for our scss.
@import "base";

label {
	text-transform: capitalize;
}

.gallery-grid {
	.row {
		margin-bottom: 1.35%;
	}
}

.thumbnail {
	display: block;
	padding: 3px;
	border: 1px solid white;
}

.pagination {
	text-align: center;
	> li {
		display: inline;
	}
}